/* bouton custom, exemple d'utilisation : navbar, se connecter, s'inscrire */
.cet-custom-btn-sm {
  font-family: 'Courgette', cursive;
  color: #DD4215 !important;
  
  border: 2px dashed #DD4215 !important;
  border-radius: 0px !important;

  padding: 4px !important;
  padding-left: 8px !important; 
  padding-right: 8px !important;
  margin-right: 6px !important;
  margin-bottom: 4px !important;

  max-width: 170px;

  vertical-align: middle !important;
}
.cet-custom-btn-sm:hover {
  color: #DD4215 !important;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(247,255,0,1);
  -moz-box-shadow: 0px 0px 0px 4px rgba(247,255,0,1);
  box-shadow: 0px 0px 0px 4px rgba(247,255,0,1);
}